$phase-one-main: #6a1b9a;
$phase-one-active: #aa00ff;
$phase-two-main: #0d47a1;
$phase-two-active: #2962ff;
$phase-three-main: #1b5e20;
$phase-three-active: #00c853;

$phase-one-weeks-main: #212121;

$training-component-tennis: #008b05;
$training-component-aerobic: #0064b6;
$training-component-anaerobic: #7b0091;
$training-component-strength: #9e0b00;
$training-component-strength-lighter: #ffcfcc;
$training-component-core-mobility: #0070a3;
$training-component-cross-training: #ff7c4d;
$training-component-activation: #3b00a1;
$training-component-recovery: #0099ff;
$training-component-rest: #000000;
$training-component-speed-agility: #ff3c00;
$training-component-life-coach: #849200;
$training-component-tennis-tv: #001696;

$white: white;
$black: black;
